<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info / How-To
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info / How-To</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">How To Use ChordScale:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <strong>Choose Root of Chord</strong><br>
      <ion-img src="./assets/images/RootExample.png"></ion-img>
      The "Root" of a chord is the lowest fundamental note of the collection of notes that make up a particular chord.
      Of the 3-4 notes that make up most scales, this one will be clearly visible by the chord symbol
      and is one of the most important notes for inferring the context of the chord being analyzed.
      <br><br>

      <strong>Choose Type of Chord</strong><br>
      <ion-img src="./assets/images/ChordTypeExample.png"></ion-img>
        The Chord's "Type" refers to the quality of the Chord. The relationships between each note of the chord alters 
        how the Chord sounds and functions. Using this calculator, one will be able to decipher which notes and scales 
        are usable when playing and improvising over the analyzed Chord.
        <br><br>

      <strong>Read Notes and Play Audio</strong>
      <br>
        Once the Chord Data has loaded, Click the different audio samples to hear what these
        scales and notes sound like. Always remember that NO NOTE IS INHERENTLY WRONG - but there are ones that sound better than others!
        The idea behind this app is building *Synchronicity* 
        between your brain, your ears, and your heart. Being able to hear the notes and scales
        and play them back will strengthen one's musical ear, and their confidence in playing and
        creating music. Spend enough time with all of these sounds, and one can become fluent in music!
        Knowledge + Time = Wisdom!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Founder Bio</ion-card-subtitle>
      <ion-card-title>Olas Ortwein (1991 - )</ion-card-title>
    </ion-card-header>

    <ion-img src="./assets/images/OlasPortrait.jpeg"></ion-img>
  
    <ion-card-content>
      Growing up and performing as a professional musician, Olas decided after the pandemic to search for more stability in order to
      continue his passion for music. He found a deeper appreciation for music software during the beginning of the pandemic, and decided to pursue
      a new career in development. <br><br>
      By December 2021, Olas will have completed a Master's of Science Degree in Software Development from Maryville University, St. Louis.
    </ion-card-content>
  </ion-card>
</ion-content>
