<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ChordScale Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ChordScale Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>
        Chord Selection
      </ion-card-subtitle>
    </ion-card-header>

    <ion-list>
    
      <ion-item>
        <ion-label for="keyChoice">Root</ion-label>
        <ion-select id="keyChoice" name="keyChoice" placeholder="Select Chord Root" okText="Okay" cancelText="Cancel">
          <ion-select-option name="c" value="C">C</ion-select-option>
          <ion-select-option name="cSharp" value="C#">C#</ion-select-option>
          <ion-select-option name="dFlat" value="Db">Db</ion-select-option>
          <ion-select-option name="d" value="D">D</ion-select-option>
          <ion-select-option name="eFlat" value="Eb">Eb</ion-select-option>
          <ion-select-option name="e" value="E">E</ion-select-option>
          <ion-select-option name="f" value="F">F</ion-select-option>
          <ion-select-option name="fSharp" value="F#">F#</ion-select-option>
          <ion-select-option name="gFlat" value="Gb">Gb</ion-select-option>
          <ion-select-option name="g" value="G">G</ion-select-option>
          <ion-select-option name="aFlat" value="Ab">Ab</ion-select-option>
          <ion-select-option name="a" value="A">A</ion-select-option>
          <ion-select-option name="bFlat" value="Bb">Bb</ion-select-option>
          <ion-select-option name="b" value="B">B</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label for="chordType">Type</ion-label>
        <ion-select id="chordType" name="chordType" placeholder="Select Chord Type" okText="Okay" cancelText="Cancel">
          <ion-select-option name="major" value="maj">Major</ion-select-option>
          <ion-select-option name="minor" value="min">Minor</ion-select-option>
          <ion-select-option name="dominant" value="dom">Dominant</ion-select-option>
          <ion-select-option name="halfDiminished" value="half">Half Diminished</ion-select-option>
          <ion-select-option name="fullyDiminished" value="full">Fully Diminished</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="getChord(keyChoice, chordType)" expand="block" type ="submit">Calculate!</ion-button>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="data == null">
    <h3 class="ion-text-center">
      <em>No Chord Selected</em>
    </h3>
  </ion-card>

  <ion-card *ngIf="data != null">
    <h3>Here are the notes that work best for playing over</h3>
    <h1 style="text-align: center">{{data.name}}</h1>
        
    <ion-item>
        <h2>Standard Scale & Notes</h2>

        <h3>{{data.chordScale}}:</h3>
        <h4 *ngFor="let degrees of scale" style="margin-left: 2%">{{data.scale}}</h4>

        <h3>{{data.chord_guide_tone.name}}:</h3>
        <h4 *ngFor="let degree of keys" style="margin-left: 2%">{{data.chord_guide_tone.keys}}</h4>
    </ion-item>

    <ion-item *ngIf="data.extensions != null">

      <ion-item *ngIf="data.extensions != null">
        <h2>More Interesting Scales & Notes</h2>
        <h3>Useful Extentions ({{data.extensions.name}}):</h3>
        <h4 *ngFor="let degree of keys" style="margin-left: 2%">{{data.extensions.keys}}</h4>
      </ion-item>

      <ion-item *ngIf="data.extra_extensions != null">
        <h3>{{data.extra_extensions[0].name}}:</h3>
        <h4 *ngFor="let degree of keys" style="margin-left: 2%">{{data.extra_extensions[0].keys}}</h4>

        <h3>{{data.extra_extensions[1].name}}:</h3>
        <h4 *ngFor="let degree of keys" style="margin-left: 2%">{{data.extra_extensions[1].keys}}</h4>

        <h3>Interesting Extention(s) ({{data.extra_extensions[2].name}}):</h3>
        <h4 *ngFor="let degree of keys" style="margin-left: 2%">{{data.extra_extensions[2].keys}}</h4>
      </ion-item>

    </ion-item>

    <ion-item *ngIf="data != null">
        <h2>Notes To Avoid</h2>
        <h3>{{data.notes_to_avoid.name}}:</h3>
        <h3 *ngFor="let degree of keys" style="margin-left: 2%">{{data.notes_to_avoid.keys}}</h3>
    </ion-item>
  </ion-card>
  
</ion-content>
