<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ChordScale Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ChordScale Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- Chord Selector -->
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>
        Chord Selection
      </ion-card-subtitle>
    </ion-card-header>

    <ion-list>
    
      <ion-item>
        <ion-label for="keyChoice">Root</ion-label>
        <ion-select [(ngModel)]="keyChoice" id="keyChoice" name="keyChoice" placeholder="Select Chord Root" okText="Select" cancelText="Cancel">
          <ion-select-option name="c" value="C">C</ion-select-option>
          <ion-select-option name="cSharp" value="C#">C#</ion-select-option>
          <ion-select-option name="dFlat" value="Db">Db</ion-select-option>
          <ion-select-option name="d" value="D">D</ion-select-option>
          <ion-select-option name="eFlat" value="Eb">Eb</ion-select-option>
          <ion-select-option name="e" value="E">E</ion-select-option>
          <ion-select-option name="f" value="F">F</ion-select-option>
          <ion-select-option name="fSharp" value="F#">F#</ion-select-option>
          <ion-select-option name="gFlat" value="Gb">Gb</ion-select-option>
          <ion-select-option name="g" value="G">G</ion-select-option>
          <ion-select-option name="aFlat" value="Ab">Ab</ion-select-option>
          <ion-select-option name="a" value="A">A</ion-select-option>
          <ion-select-option name="bFlat" value="Bb">Bb</ion-select-option>
          <ion-select-option name="b" value="B">B</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label for="chordType">Type</ion-label>
        <ion-select [(ngModel)]="chordType" id="chordType" name="chordType" placeholder="Select Chord Type" okText="Select" cancelText="Cancel">
          <ion-select-option name="major" value="maj">Major</ion-select-option>
          <ion-select-option name="minor" value="min">Minor</ion-select-option>
          <ion-select-option name="dominant" value="dom">Dominant</ion-select-option>
          <ion-select-option name="halfDiminished" value="half">Half Diminished</ion-select-option>
          <ion-select-option name="fullyDiminished" value="full">Fully Diminished</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="getChord(keyChoice, chordType)" expand="block">Calculate!</ion-button>
    </ion-list>
  </ion-card>

<!-- No Data Display -->
  <ion-card *ngIf="data == null">
    <h3 class="ion-text-center">
      <em>No Chord Selected</em>
    </h3>
  </ion-card>

<!-- Chord Data Display  -->
  <ion-card *ngIf="data != null">
    <ion-card-title>Useful Notes for {{data.name}}:</ion-card-title>
        
  <!-- Standard Scales & Notes: All Types -->
    <ion-item>Standard Scales & Notes</ion-item>

    <ion-grid>
    <!-- Main Scale -->
      <ion-row>
        <ion-col size="4">{{data.chordScale}}:</ion-col>
        <ion-col size="1" *ngFor="let degree of data.scale">{{degree}}</ion-col>
      </ion-row>

    <!-- Play / Stop Buttons -->
      <ion-row>
        <ion-button (click)="play()">
          {{data.chordScale}}
          <ion-icon name="play"></ion-icon>
        </ion-button>
    
        <ion-button (click)="stop()">
          <ion-icon name="square"></ion-icon>
        </ion-button>
      </ion-row>

    <!-- Guide Tones -->
      <ion-row>
        <ion-col size="8">{{data.chord_guide_tone.name}}:</ion-col>
        <ion-col size="1" *ngFor="let degree of data.chord_guide_tone.keys">{{degree}}</ion-col>
      </ion-row>

    <!-- P/S Buttons -->
      <ion-row>
        <ion-button (click)="playFalse()">
          {{data.chord_guide_tone.name}}
          <ion-icon name="play"></ion-icon>
        </ion-button>
    
        <ion-button (click)="stop()">
          <ion-icon name="square"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>

  <!-- Extra Scales & Notes: Maj, Min, Dom -->
    <ion-item *ngIf="data.extensions != null">More Interesting Scales & Notes</ion-item>

    <ion-grid *ngIf="data.extensions != null">
    <!-- Extensions -->
      <ion-row>
        <ion-col size="5">Useful Extentions ({{data.extensions.name}}):</ion-col>
        <ion-col size="1" *ngFor="let degree of data.extensions.keys">{{degree}}</ion-col>
      </ion-row>

    <!-- P/S Buttons -->
      <ion-row>
        <ion-button (click)="playFalse()">
          {{data.extensions.name}}
          <ion-icon name="play"></ion-icon>
        </ion-button>
    
        <ion-button (click)="stop()">
          <ion-icon name="square"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="data.extra_extensions != null">
    <!-- Extra Extensions 1 -->
      <ion-row>
        <ion-col size="4">{{data.extra_extensions[0].name}}:</ion-col>
        <ion-col size="1" *ngFor="let degree of data.extra_extensions[0].keys">{{degree}}</ion-col>
      </ion-row>

    <!-- P/S Buttons -->
      <ion-row *ngIf="data.extra_extensions != null">
        <ion-button (click)="playFalse()">
          {{data.extra_extensions[0].name}}
          <ion-icon name="play"></ion-icon>
        </ion-button>
    
        <ion-button (click)="stop()">
          <ion-icon name="square"></ion-icon>
        </ion-button>
      </ion-row>

    <!-- Extra Extensions 2 -->
      <ion-row *ngIf="data.extra_extensions[1] != null">
        <ion-col size="4">{{data.extra_extensions[1].name}}:</ion-col>
        <ion-col size="1" *ngFor="let degree of data.extra_extensions[1].keys">{{degree}}</ion-col>
      </ion-row>

    <!-- P/S Buttons -->
      <ion-row *ngIf="data.extra_extensions[1] != null">
        <ion-button (click)="playFalse()">
          {{data.extra_extensions[1].name}}
          <ion-icon name="play"></ion-icon>
        </ion-button>
    
        <ion-button (click)="stop()">
          <ion-icon name="square"></ion-icon>
        </ion-button>
      </ion-row>

    <!-- Extra Extensions 3 -->
      <ion-row *ngIf="data.extra_extensions[2] != null">
        <ion-col size="7">Interesting Extention(s) ({{data.extra_extensions[2].name}}):</ion-col>
        <ion-col size="1" *ngFor="let degree of data.extra_extensions[2].keys">{{degree}}</ion-col>
      </ion-row>

    <!-- P/S Buttons -->
      <ion-row *ngIf="data.extra_extensions[2] != null">
        <ion-button (click)="playFalse()">
          {{data.extra_extensions[2].name}}
          <ion-icon name="play"></ion-icon>
        </ion-button>
    
        <ion-button (click)="stop()">
          <ion-icon name="square"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>

  <!-- Notes to AVOID: All Types -->
    <ion-item>Notes to Avoid</ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="1" *ngFor="let degree of data.notes_to_avoid.keys">{{degree}}</ion-col>
      </ion-row>

    <!-- P/S Buttons -->
      <ion-row>
        <ion-button (click)="playFalse()">
          Notes To Avoid
          <ion-icon name="play"></ion-icon>
        </ion-button>
    
        <ion-button (click)="stop()">
          <ion-icon name="square"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
